$romantic: #FEBC9D;
$tonys-pink: #E69788;
$tapestry: #BF717F;
$kimberly: #814968;
$scarlet-gum: #552E54;

/*
 Main Colors
 */
@import "bourbon/app/assets/stylesheets/functions/_tint-shade.scss";
$base: $tonys-pink;
$firm: $kimberly;

$link-color: darken($firm, 10%);
$link-hover-color: white;
$link-active-color: shade($firm, 20%);
$link-visited-color: shade($firm, 20%);

$primary-border-color: $firm;
$secondary-border-color: desaturate($firm, 20%);



/* Body */
$body-bg: $base;
$body-font-color: $firm;

/* Topbar */
$topbar-bg-color: darken($base, 3%);

$topbar-link-color: darken($topbar-bg-color, 25%);
$topbar-link-color-hover: darken($topbar-bg-color, 35%);
$topbar-link-color-active: $scarlet-gum;
$topbar-link-bg-hover: $topbar-bg-color;

$topbar-dropdown-bg: $scarlet-gum;
$topbar-dropdown-link-color: $base;
$topbar-dropdown-link-bg: $scarlet-gum;

$topbar-menu-border-color: $topbar-bg-color;

$topbar-menu-link-color: $topbar-link-color;
$topbar-menu-icon-color: $topbar-link-color;
$topbar-menu-link-color-toggled: tint($topbar-link-color, 20%);
$topbar-menu-icon-color-toggled: tint($topbar-link-color, 20%);