$persimmon: #EE765D;
$sea-buckthorn: #F1915E;
$sandy-brown: #F3AA60;
$cream-can: #F6C362;
$spring-sun: #FFE9BF;


/*
 Main Colors
 */
$base: $spring-sun;
$firm: $sandy-brown;

$link-color: $sea-buckthorn;
$link-hover-color: $spring-sun;

$primary-border-color: $cream-can;
$secondary-border-color: $spring-sun;