$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;
// $include-html-top-bar-classes: true;

@import "colours/white-blue.scss";

/* Grid */
$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container


$body-font-family: 'Montserrat', Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$topbar-arrows: false;

$button-border-width: 2px;