extends page

block append vars
	- bodyclass = 'page article-list'

block content-title
	include partial/article-list-header

block aside-html
	.side-nav(data-module='sticky')
		a.link(href="../", title="Back"): span.icon-left-open-outline

block content-html
	.large-4.columns.large-centered
		+pagination(page, page.parent)

	section#article-archive
		include partial/article-list

