extends page

block append vars
	- bodyclass = 'page article-detail'

block append content-title
	- page.metadata.subtitle = moment.utc(page.metadata.date).format('DD. MMMM YYYY')
	if page.metadata.author
		small.author
			| #{ "Written by " }
			mixin author(page.metadata.author)

block prepend content-html
	#article-tags.row
		+tags(page)

block append content-html
	if page.metadata.tags
		h3#related Related
		+related(page, contents.articles)

	if page.metadata.comments
		h3#comments Comments
		+disqusComments(page, disqus.shortname)

block append content
	include partial/post-footer
