*

!.gitignore

!.devcontainer.json
!docker-compose*
!package.json
!yarn.lock
!.releaserc.json
!Taskfile.yml

!static.config.js
!.babelrc
!.eslintrc.json
!tsconfig.json
!.browserslistrc
!cssnano.config.js
!jest.config.js
!postcss.config.js

!tools/
!tools/**
!src/
!src/**