lib-cov
*.csv
.sass-cache
.grunt
build
dist
*.dat
/.tmp
*.out
/.grunt
node_modules
bower_components
/.test
results
*.gz
logs
pids
*.seed
*.pid
npm-debug.log
*.log
# Cabin-specific ignored files