*
!.gitignore

!.vscode/
!.vscode/*
!.github/
!.github/*
!.github/**/*
!docker-compose*
!Taskfile.yml
!.editorconfig
!.releaserc.json
!yarn.lock
!package.json

!tools/
!tools/**
!frontend/
!frontend/**