extends page

block append vars
	- bodyclass = 'page article-list'

block content-title
	include partial/archive-header

block content-html
	.large-4.columns.large-centered
		+pagination(page, contents.archive)
	section#article-archive
		include partial/archive-list

