extends page
include mixins/author

block append vars
	- bodyclass = 'page article-detail'

block append content-title
	if page.metadata.author
		small.author
			| #{ "Written by " }
			mixin author(page.metadata.author)

block prepend footer
	include partial/post-footer