extends page

block append vars
	- bodyclass = 'page article-detail'

block content-title
	include partial/author
	!= page.title
	small.author
		| #{ "Written by " }
		mixin author(page.metadata.author)

block content-html
	article.article
		section.content!= typogr(page.html).typogrify()

block prepend footer
	include partial/post-footer