extends page

block append content-html
	.row
		form(data-mandrill='contact-form').column.large-12.large-centered
			input#name(name="name", type="text", placeholder="your name")
			input#email(name="email", type="email", placeholder="your email")
			textarea#message(name="message", placeholder="your message", rows=7)
			button.button.simple-outline.small(type="submit") Send
	.row
		ul.button-group.simple-outline
			li: a.button.small(href='mailto:its@zenobi.us') Email
			li: a.button.small(href='http://plus.google.com/+zenobiusjiricek/') Google Plus
			li: a.button.small(href="tel:+61451075636") Call Me
				em.icon-phone
