extends page

block content-body
	#page-content.row
		.large-8.columns.large-centered.small-centered
			!= typogr(page.html).typogrify()

			ul.button-group.no-outline
				+subtree(page.parent, 'button')
