extends layout

block header

block content
	header.hero.vertical
		.cell
			a.avatar(href="#{url}")
				img.cube(src="/assets/img/cube-blue.png")
				img.shadow(src="/assets/img/shadow.png")
			h1=site.name

	.hero.horzitonal#below-the-fold
		.cell
			ul.button-group.simple-outline.vertical-small.horizontal-landscape
				li: a.button(href="/about/") about
				li: a.button(href="/projects/") projects
				li: a.button(href='/articles/') Articles
				li: a.button(data-modal='.contact-form') contact

