extends layout

block header

block content
	header.hero.vertical
		.cell
			a.link(href="#{site.url}")
				.avatar
					img.shadow(src="/assets/img/cube-shadow.png")
					img.cube(src="/assets/img/cube-blue.png")
				h1=site.name
					small.block=site.byline

	.hero.horzitonal#below-the-fold
		.cell
			ul.button-group.simple-outline.vertical-small.horizontal-landscape
				li: a.button(href="/about/") about
				li: a.button(href="/projects/") projects
				li: a.button(href='/articles/') articles
				li: a.button(href='/contact/') contact

