
mixin subtree(tree)
	- var tree = _.omit(tree, 'index.md');
	ul.side-nav.large-vertical
		li: a(href="../"): em.icon-left Up

		if _.keys(tree).length
		- each item, key in tree
			if item.index
				li: a(href=item.index.url)= key


mixin debug(label, data)
	if env.config.mode='preview'
		.debug.row
			h4=label
			pre=env.helpers.toJson(data)
