extends layout

block append vars
	- bodyclass = 'page'

block prepend title
	| #{ page.title + " - "}

block content
	block content-title
		#page-header.row
			.large-8.columns.large-centered
				h1= page.metadata.title

	block content-body
		#page-content.row
			.large-8.columns.large-centered.content
				block content-html
					if page.html
						!= typogr(page.html).typogrify()

			.large-4.columns.aside
				block aside-html
					.side-nav.toc(data-toc, data-content="#page-content > .content", data-toggle=".toggle")
						a.link(href="../", title="Back"): span.icon-left-open-outline
						a.link.toggle(title="Table of contents"): span.icon-flow-split
