extends layout

block append vars
	- bodyclass = 'page'

block prepend title
	| #{ page.title + " - "}

block content
	.row#page-header
		h1.large-6.large-centered.columns
			block content-title
				= page.title

	.row
		.large-6.large-centered.columns
			block content-html
				article.article
					section.content!= typogr(page.html).typogrify()

