extends layout
include mixins

block append vars
	- bodyclass = 'page'

block prepend title
	| #{ page.title + " - "}

block content
	block content-title
		#page-header.row
			.large-8.columns.large-centered
				h1= page.metadata.title

	block content-body
		#page-content.row
			.side-nav.toc(data-table-of-contents="#page-content > .content")
				a.link(href="../"): span.icon-left-open-outline
				.link.toggle: span.icon-flow-split
			.large-8.columns.large-centered.content
				block content-html
					if page.html
						!= typogr(page.html).typogrify()
