extends article
include mixins/gallery

block prepend content-html
	.project-meta
		dl
			dt homepage
			dd: a(href=page.metadata.homepage)=page.metadata.homepage
			dt repo
			dd: a(href=page.metadata.repo)=page.metadata.repo

block append content-html
	if page.metadata.gallery
		+gallery()