extends page

block append vars
	- bodyclass = 'page article-list'
	- page = _.extend(page||{}, {metadata: {title: tagName}})

block content-title
	include partial/article-list-header

block aside-html
	.side-nav(data-module='sticky')
		a.link(href="../", title="Back"): span.icon-left-open-outline

block content-html
	.large-4.columns.large-centered
		+pagination(page, contents.articles)

	section#article-archive(data-module='disqus-comments-count',
							data-shortname=disqus.shortname||'')
		include partial/article-list
