.block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 get-spacing-px(normal);
  margin: 0;

  @include get-typeface(base);
}

.block--debug {
  background: rgba(coral, .2);
}

.block__container {
  flex-grow: 1;
  width: 100%;
  max-width: get-layout-px(page-width);

  margin: 0 auto;

}

.block--debug .block__container {
  background: rgba(coral, .5);
}

.block__content {
  width: 100%;
}
