.branding-block .block__content {
  flex-direction: row;
}

.branding-block .branding-block__image {
  width: 50%;
  margin-right: get-spacing-px(normal);
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.branding-block .branding-block__nav {
  width: 50%;
  align-items: flex-start;
  margin-left: get-spacing-px(normal);
  margin-top: auto;
  margin-bottom: auto;
}
