.branding-block {
  height: auto;
  width: auto;
  padding: 0;
}

.branding-block .block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.branding-block .block__content {
  padding: get-spacing-px(small);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.branding-block__image {
  display: block;
  max-width: 196px;
  margin: auto;
  margin-bottom: get-spacing-px(normal);
}

.branding-block__nav {
  margin-top: get-spacing-px(normal);
  margin-bottom: auto;
}

.branding-block--is-badge .block__content {
  height: 100vh;
  padding: 0;
}
