// .branding-block > .block__container {
//   align-items: flex-start;
// }

.branding-block > * > .block__content {
  flex-direction: column;
//   height: 100%;
//   align-items: flex-start;
}

.branding-block--is-badge .branding-block__image {
  width: calc(#{get-spacing-px(massive)} * 2);
  margin: 0;
  margin-bottom: get-spacing-px(normal);
}

.branding-block--is-badge .branding-block__nav {
  width: auto;
  align-items: flex-end;
  flex-grow: 0;
  margin-left: 0;
}
