.branding-block {
  height: auto;
  width: auto;
  padding: 0;
}

.block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block__content {
  padding: get-spacing-px(small);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.branding-block__image {
  display: block;
  max-width: 196px;
  margin: auto;
}

