/**
 * Style: Normal
 */
$BUTTON_BOXSHADOW_BORDER_HOVERFOCUS: 0 0 0 2px get-colour(skyblue, lightest);

.button {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: get-spacing-px(small) get-spacing-px(normal);

  border: 0;

  border-radius: get-spacing-px(tiny);
  background: get-colour(skyblue, lightest);
  color: get-colour(queenblue, light);

  cursor: pointer;

  @include get-typeface(button);
}

.button:focus, .button--is-focused,
.button:hover, .button--is-hovered {
  outline: 0;
  box-shadow: $BUTTON_BOXSHADOW_BORDER_HOVERFOCUS;
}

.button:active, .button--is-active {
  top: 1px;
  background: get-colour(skyblue, lighter);
  color: get-colour(queenblue);
}

/**
 * Style: Primary
 */
$BUTTON_PRIMARY_FOCUSHOVER_BOXSHADOW: 0 0 0 2px get-colour(queenblue);
$BUTTON_PRIMARY_FOCUSHOVER_INNER_BOXSHADOW: inset 0 0 0 2px rgba(get-colour(queenblue, lightest), .75);

.button--style-primary {
  border: 0;
  background-color: get-colour(queenblue);
  color: get-colour(white);
}

.button--style-primary:focus, .button--style-primary.button--is-focused,
.button--style-primary:hover, .button--style-primary.button--is-hovered {
  box-shadow:
    $BUTTON_PRIMARY_FOCUSHOVER_BOXSHADOW,
    $BUTTON_PRIMARY_FOCUSHOVER_INNER_BOXSHADOW;
}

.button--style-primary:active {
  background-color: get-colour(queenblue, dark);
  color: get-colour(white);
}


/**
 * Style: Secondary
 */
$BUTTON_SECONDARY_BOXSHADOW: inset 0 0 0 2px currentColor;
$BUTTON_SECONDARY_FOCUSHOVER_BOXSHADOW: inset 0 0 0 4px get-colour(skyblue, lighter);

.button--style-secondary {
  background-color: transparent;
  box-shadow: $BUTTON_SECONDARY_BOXSHADOW;
  color: get-colour(queenblue);
}

.button--style-secondary:focus, .button--style-secondary.button--is-focused,
.button--style-secondary:hover, .button--style-secondary.button--is-focused {
  box-shadow:
    $BUTTON_SECONDARY_BOXSHADOW,
    $BUTTON_SECONDARY_FOCUSHOVER_BOXSHADOW;
}

.button--style-secondary:active {
  background-color: transparent;
  box-shadow:
    $BUTTON_SECONDARY_BOXSHADOW,
    $BUTTON_SECONDARY_FOCUSHOVER_BOXSHADOW,;
}


/**
 * Style: Link
 */
$BUTTON_LINK_BOXSHADOW: 0 -2px 0 2px rgba(get-colour(queenblue), .2);
$BUTTON_LINK_HOVERFOCUS_BOXSHADOW: 0 2px 0 2px rgba(get-colour(queenblue), .6);
$BUTTON_LINK_ACTIVE_BOXSHADOW: 0 3px 0 2px get-colour(queenblue);

.button--style-link {
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;

  text-decoration: none;
}

.button--style-link .button__label {
  position: relative;
}

.button--style-link .button__label::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: $BUTTON_LINK_BOXSHADOW;
}

.button--style-link:focus, .button--style-link.button--is-focused,
.button--style-link:hover, .button--style-link.button--is-focused {
  box-shadow: none;
  background-color: transparent;
}

.button--style-link:focus .button__label::after,
.button--style-link.button--is-focused .button__label::after,
.button--style-link:hover .button__label::after,
.button--style-link.button--is-focused .button__label ::after {
  box-shadow: $BUTTON_LINK_HOVERFOCUS_BOXSHADOW;
}

.button--style-link:active .button__label::after {
  box-shadow: $BUTTON_LINK_ACTIVE_BOXSHADOW;
}

/**
 * Shapes
 */

.button--shape-square {
  border-radius: 0;
}

.button--shape-round {
  border-radius: get-spacing-px(tiny);
}

.button--shape-circular {
  border-radius: get-spacing-px(massive);
}

.button__icon {
  position: relative;
  display: flex;
  justify-content: center;
}

.button__icon.button__icon--suffix {
  right: -#{get-spacing-px(tiny)};
}

.button__icon.button__icon--prefix {
  left: -#{get-spacing-px(tiny)};
}

@each $name, $size in $settings--spacing {
  .button.button--size-#{$name} {
    height: #{$size}px;
    font-size: #{$size}px;
  }
}
