.card {
  margin: get-spacing-px(normal);
  display: block;
  box-shadow: 0 0 0 2px currentColor;
  @include get-typeface(base);
  border-radius: get-spacing-px(tiny);
  color: get-colour(grey, light);
}

.card__container {
  display: block;
  padding: get-spacing-px(normal);
}
