.code-block {
  border-radius: get-spacing-px(small);
}

.code-block .block__container {
  margin: 0;
}

.code-block .block__content {
  height: auto;
  width: 100%;
  display: block;
  white-space: pre-wrap;
}
