.landing-block {
  display: flex;
  min-height: 80vh;

}

.landing-block .block__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-block .block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-block__heading {
  @include get-typeface(landing-heading);
  position: absolute;
  top: 25%;
  left: 50%;
  margin-bottom: get-spacing-px(huge);
  text-align: center;
  transform: translate(-50%, -200%);
}

.landing-block__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 192px;
  transform: translate(-50%, -100%);
}

.landing-block__logo .BrandingLogo_svg__outline {
  // fill: ;
}

.landing-block__logo .BrandingLogo_svg__border {
  // fill: red;
}

.landing-block__separator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: get-layout-px(page-width);
  transform: translate(-50%, 0%);
}
