.page__aside,
.page--is-open .page__aside {
  position: inherit;
  width: auto;
  height: 100%;
  max-width: auto;
  margin: 0;
  margin-left: 0;
  border: 0;
}

.page__hamburger {
  display: none;
}
