.page {
  display: flex;
  flex-direction: column;
}

.page > .block__container > .block__content {
  display: flex;
  flex-direction: row;
}

.page__content {
  flex-grow: 1;
}

.page__aside {
  position: fixed;
  left: 100%;
  top: 0;

  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  max-width: 100%;

  padding: 0;
  justify-content: start;

  background-color: get-colour(white);

  transition: all 200ms ease-in-out;
}

.page--is-open .page__aside {
  margin-left: -100%;
}

.page--is-open .page__content {
  overflow-y: hidden;
}

.page__hamburger {
  z-index: $zindex-9--nav-overlay-touch;
  position: absolute;
  top: get-spacing-px(normal);
  right: get-spacing-px(normal);
}
