.page__aside,
.page--is-open .page__aside {
  position: inherit;
  width: auto;
  // will use height described by parents
  // flex -> align-items: stretch
  height: auto;
  max-width: auto;
  margin: 0;
  margin-left: 0;
  padding-right: get-spacing-px(large);

  border: 0;
  border-right: 4px dotted get-colour(grey, lightest);

}

.page__hamburger {
  display: none;
}

.page__content {
  margin-left: get-spacing-px(large);
}
