.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  @include get-typeface(base);
}

.site__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  transition: all ease-in-out 200ms;
}


.site__footer {
  width: 100%;
}

.site--is-landing .site__content {
  align-items: stretch;
  flex-direction: column;
}
