.site {
  display: flex;
}

.site__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  transition: all ease-in-out 200ms;
}

.site__header {
  align-items: flex-start;
  display: flex;
  flex-grow: 0;
}

.site__content {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
}

.site__footer {
  width: 100%;
}

.site--is-landing .site__container {
  flex-direction: column;
}

.site--is-landing .site__content {
  align-items: stretch;
  flex-direction: column;
}
