.site {
    display: flex;
}
.site__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    transition: all ease-in-out 200ms;
}

.site__header {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
}
.site__content {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}
.site__footer {
    width: 100%;
}

.site--is-landing .site__container {
    flex-direction: column;
}
.site--is-landing .site__content {
    flex-direction: column;
    align-items: stretch;

}
