.link-list {
    margin: 0 auto;
}
.link-list__container {
    list-style: none;
}
.link-list__item {
    color: colour-get(blue);
}
.link-list__link { text-decoration: none; }
.link-list__link:hover { text-decoration: underline; }
.link-list__link:visited { color: colour-get(blue, darker); }