/*
	Base Page Styling
	css/pages/base.scss

 */
@import "css/elements/avgrund";
@import "vendor/bourbon/app/assets/stylesheets/bourbon";

html, body{
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat';

	@import "css/elements";

	#content{
		min-height: 100%;
		height: 100%;
		margin-bottom: -(rem-calc(250)) ;
		padding-top: 3em;
	}

	#site-footer {
		min-height: rem-calc(250-$topbar-height);
		color: #999;
	}

	.avgrund-overlay{
		background: #fff;
	}
	.avgrund-popin{
		overflow: visible;
		background: #0cf;
		min-height: 25em;
		@include headings {
			color: #fff;
		}
		form.contact {
			// position: relative;

			input, textarea{
				color: #333;
				background: #fff;
				border: none;

				@include placeholder {
					color: #333;
				}
			}
			textarea{
				min-height: 15em;
				max-height: 15em;
			}
			button[type='submit']{
				position: absolute;
				bottom: -1.5em;
				left: 5%;
				width: 90%;
				border: none;
				background: #fff;
				// @include box-shadow(0 0 2px #0cf);
				border: 2px solid #0cf;
				color: #333;
				margin: 0 auto;
			}
		}
	}

}

