html, body {
	height: 100%;
	overflow: auto;
}

.avgrund-popin {
	position: absolute;
	padding: 10px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	top: 50%;
	left: 50%;
	z-index: 1000;
	@include transform(scale(0.8));
}

.avgrund-overlay {
	width: 100%;
	position: relative;
	top: -1500px;
	left: 0;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}

body.avgrund-ready,
.avgrund-ready .avgrund-popin,
.avgrund-ready .avgrund-overlay {
	@include transform-origin(50% 50%);
	@include transition(0.3s all ease-out);
}

.avgrund-popin.stack {
	@include transform(scale(1.5));
}

body.avgrund-active {
	@include transform(scale(0.9));
	overflow: hidden;

	.avgrund-popin {
		visibility: visible;
		opacity: 1;
		@include transform(scale(1.1));
	}

	.avgrund-overlay {
		visibility: visible;
		opacity: .9;
		height: 20000px;
	}

	.avgrund-popin.stack {
		@include transform(scale(1.1));
	}

	.avgrund-blur {
		filter: blur(1px);
	}

	/* Optional close button styles */
	.avgrund-close {
		display: block;
		color: rgba(#000, 0.4);
		font-size: 13px;
		text-decoration: none;
		text-transform: uppercase;
		position: absolute;
		top: 6px;
		right: 10px;
	}
}
