$white: #FFFFFF;
$portage: #1EA8E2;
$bahama-blue: #005A80;
$tarawera: #2C4149;
$fiord: #526368;
$light-blue: #ACD6E5;

/*
 Main Colors
 */
@import "bourbon/app/assets/stylesheets/functions/_tint-shade.scss";

$base: $white;
$firm: $fiord;
$gentle: $light-blue;
$primary-tint: lighten($fiord, 60%);
$secondary-tint: lighten($fiord, 20%);

$link-color: darken($portage, 10%);
$link-hover-color: tint($portage, 10%);
$link-active-color: darken($portage, 20%);
$link-visited-color: shade($portage, 20%);

$primary-border-color: $firm;
$secondary-border-color: desaturate($firm, 20%);


/* Body */
$body-bg: $base;
$body-font-color: $firm;

/* Topbar */
$topbar-bg-color: $primary-tint;
$topbar-dropdown-bg: $topbar-bg-color;

$topbar-link-color: darken($topbar-bg-color, 25%);
$topbar-link-color-active: $topbar-bg-color;
$topbar-link-color-active-hover: #fff;
$topbar-link-color-hover: darken($topbar-bg-color, 35%);
$topbar-link-bg: $topbar-bg-color;
$topbar-link-bg-hover: $topbar-bg-color;
$topbar-link-hover-lightness: -10%;

$topbar-dropdown-link-color: $topbar-bg-color;
$topbar-dropdown-link-bg: $topbar-bg-color;

$topbar-menu-border-color: $topbar-bg-color;

$topbar-menu-link-color: $topbar-link-color;
$topbar-menu-icon-color: $topbar-link-color;
$topbar-menu-link-color-toggled: tint($topbar-link-color, 20%);
$topbar-menu-icon-color-toggled: tint($topbar-link-color, 20%);


// $topbar-link-bg-hover: #272727 !default;
// $topbar-link-bg-active: $primary-color !default;
// $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%) !default;
