.section {
    display: flex;
    width: 100%;
}
.section__heading {
    display: flex;
    flex-direction: column;
}
.section__content {
    display: flex;
    padding: 1rem;
}

.section--fullscreen .section__content {
    flex-grow: 1;
}

.section-group {
    display: flex;
}
.section-group--vertical {
    flex-direction: column;
}
.section-group--horizontal {
    flex-direction: row;
}