/*
	Project Font Imports
	css/fonts.scss
 */

// @import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
// @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,400italic,700italic);
// @import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "./font/fontello";