.segment {
	margin: 0 auto;

	&,
	&.mdl-card {
		background-color: transparent;
	}

	&__title {
		background: settings-colour(gun-metal);
		color: settings-colour(white);
	}

	&__content {
		background: settings-colour(white);
		width: initial;
	}

	&__footer {
		background: settings-colour(white);
		> div {
			display: flex;
		}
	}

}
