.wysiwyg-area {
    pre {
        max-width: 100%;
        background-color: get-colour(grey, darker);
        color: get-colour(grey, lighter);
        padding: 0.5rem;
        border-radius: 0.4rem;
    }
    code {
        white-space: pre-wrap;
    }
}