.wysiwyg-area {
    .quote {
        padding: 0.5rem;
        background: get-colour(silver);
        border-left: 4px solid get-colour(seaweed);
        background-color: get-colour(seaweed, lightest);
    }
}