body.article,
body.article-list,
body.article-detail {

	#article-tags {
		.sub-nav  {
			&:before {
				float: left;
			}
			margin-top: 1em;
			li {
				float: left;
				display: inline-block;
				line-height: 1;
			}
		}
	}

}

body.article-list #page-content {

  #article-archive {
    clear:both;

    .header {
      &:before {
        margin: 0 0.5em;
      }
      small {
        margin-left: 3.5em;
      }
    }
  }

  @media #{$small-only} {
    #article-archive .header {
      &:before {
        margin: 0 -0.5em;
        text-indent: -3em;
      }
      small {
        margin-left: 0;
      }
    }

    .aside {
      display: none;
    }
  }

}

