@import "fonts.scss";
@import "config.scss";

@import "foundation/scss/foundation.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";

@import "mixins.scss";
@import "elements.scss";
@import "pages.scss";

@media print {

	html body {
		* {
			color: $firm;
			font-size: 95%;
		}

		header#header { display:none; }
		article#content {
			margin-top: 0;
			padding-top: 0;
			margin: auto 2em;

			#page-header {
				.hero {
					h1 {
						text-align: left;
						&:before { display: none; }
						img { display: none; }
					}
				}
			}

			.aside { display: none; }
		}
		footer { display: none; }
	}

}
