@import "css/fonts";
@import "css/config";
@import "vendor/foundation/scss/normalize";
@import "vendor/bourbon/app/assets/stylesheets/_bourbon";
@import "css/mixins";

body{
	background: white;
	color: #999;

	h1,h2,h3,h4,h5{
		color: #666;
	}
}