.card-group--columns {
    .card {
        width: calc(33.333333% - #{layout-get(spacing)/1.49});
    }

    .card--large {
        width: (layout-get(card-size) + layout-get(spacing)) * 2;
    }

    .card:nth-child(n+2) {
        margin-left: layout-get(spacing);
    }

    .card:nth-child(n+2){
        &:nth-child(3n+2) {
            margin-left: 0;
        }
        &:nth-child(3n+3) {
        }
        &:nth-child(3n+1) {
        }
    }

}