    .section-group--columns {
        .section {
            width: calc(50% - #{layout-get(spacing) / 2 });
            height: auto;
            position: relative;

            &:not(:first-child){
                &:before {
                    position: relative;
                    padding-top: 100%;
                    width: 100%;
                    height: 100%;
                    content: '';
                }
                .section__container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    height: 100%;

                }
            }

        }

        .section:first-child {
            width: 100% ;
        }

        .section:nth-child(n+2):nth-child(odd) {
            // outline: 1px solid blue;
            margin-left: layout-get(spacing);
        }

    }