.section {
    display: flex;
    width: 100%;
}
    .section__container {
        width: 100%;
        position: relative;
    }
    .section__header {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: flex-end;

        padding: layout-get(spacing);

        position: relative;
    }

    .section__heading {
        width: 100%;
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
    }
    .section--link .section__heading {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .section__header-image-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .section__meta {
        @include typeface-get(opensans);
        font-weight: bold;
        display: block;
        margin: 0;
    }

    .section__body {
        padding: layout-get(spacing);
    }

    .section,
    .section__meta-link,
    .section a {
        text-decoration: none;
    }


.section--card {
    background-color: colour-get(grey, light);
    color: colour-get(grey, darker);

    .section__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: space-between;
    }

}

@each $name, $group in $settings__colours {
    .section--theme-#{$name} {
        background-color: colour-get($name);
        color: colour-get($name, lightest);
        .section__meta { color: colour-get($name, lighter); }
    }
}

.section--theme-buttercup {
    background-color: colour-get(buttercup);
    color: colour-get(buttercup, darker);
    .section__meta { color: colour-get(buttercup, light); }
}