.post-section {}

.post-section .section__header-container {
    width: 100%;
    max-width: layout-get(page-width);
    margin: 0 auto;
}

.post-section .section__body-container {
    width: 100%;
    max-width: layout-get(page-width);
    margin: 0 auto;
}
