*

!.gitignore

!.babelrc
!.eslintrc.json
!tsconfig.json
!static.config.js
!docker-compose*
!package.json
!yarn.lock
!Buildfile
!.editorconfig
!.devcontainer.json
!.browserslistrc
!.releaserc.json
!cssnano.config.js
!jest.config.js
!postcss.config.js

!tools/
!tools/**
!src/
!src/**