nav.top-bar.hide-for-print(data-module='top-bar', data-toggle='.toggle-topbar', data-event='click')
	ul.title-area
		li.name
			h1
				a(href="#{site.url}")=site.name
		li.toggle-topbar.menu-icon
			a(href="#") Menu

	section.top-bar-section
		ul.right
			li: a(data-action='click', data-emit='.top-bar:close', href='/about/') About
			li: a(data-action='click', data-emit='.top-bar:close', href='/articles/') Articles
			li: a(data-action='click', data-emit='.top-bar:close', href='/projects/') Projects
			li: a(data-action='click', data-emit='.top-bar:close', href='/contact/') Contact
