html body {
	.text-centered{
		text-align: center;
	}

	@media #{$medium-up}{
		.large-right{
			float: right;
		}
		.large-left{
			float: left;
		}
		.large-centered{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			float: none;
		}
	}

	@media #{$small-up}{
		.small-right{
			float: right;
		}
		.small-left{
			float: left;
		}
		.small-centered{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			float: none;
		}
	}
}