
pre {
    padding: 1em;
    margin: 1em 0;
    overflow: hidden;
    display: inline-block;
    white-space: pre-wrap;
    @media #{$small-only} {
        overflow-x: scroll;
    }
}

code, pre {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    padding: 0.4em;
    @include border-top-radius(0.3em);
    @include border-bottom-radius(0.3em);
    display: block;
    padding: 0.5em;

    color: $primary-tint;
    background: $firm;
    display: block;
    padding: 0.5em;

}

code { 
    display: inline-block;
    padding: 0.2em 0.3em;
    padding-bottom: 0.1em;
}