.wysiwyg-area {
    .quote {
        padding: 0.5rem;
        background: colour-get(silver);
        border-left: 4px solid colour-get(seaweed);
        background-color: colour-get(seaweed, lightest);
    }
}