.site {
	display: flex;
	flex-direction: row;
}

.site__header {}

.site__content {
	flex-grow: 1;

	display: flex;
  flex-direction: row;
  max-width: get-layout-px(page-width);
  padding: get-spacing-px(normal);
  margin: 0 auto;
}

.site__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: calc(#{get-layout-px(page-width)} * 0.25);
}

.site__footer {}