.section--hero .section__header {
    align-items: flex-end;
}
    .section--hero .section__heading {
        width: auto;
    }
    .section--hero .section__meta {
        text-align: right;
    }