body.article,
body.article-list,
body.article-detail {

	#article-tags {
		.sub-nav  {
			&:before {
				float: left;
			}
			margin-top: 1em;
			li {
				float: left;
				display: inline-block;
				line-height: 1;
			}
		}
	}
}

