
@include keyframes(floating-cube) {
    from { bottom: 1em; }
    50% { bottom: 1.5em; }
    to { bottom: 1em; }
}

@include keyframes(blurring-shadow) {
    from { opacity: 1; }
    55% { opacity: 0.7; }
    65% { @include transform(scale(0.96)); }
    to { opacity: 1; }
}


body#home{

	@media #{$small-up} {
		background: $base;
		header.hero {
			min-height: 5em;
			text-align: center;

			.link{
				display: inline-block;
			}
			h1, h1.site-name{
				text-transform: lowercase;
			}
			.avatar {
				margin: 0 auto;
				display: block;
				position: relative;
				height: 9em;
				width: 100%;

				.cube, .shadow {
					position: absolute;
					left: 0;
					width: 100%;
				}
				.cube{
					z-index: 2;
					bottom: 2em;
					@include animation-name(floating-cube);
					@include animation-duration(3s);
					@include animation-timing-function(ease-in-out);
					@include animation-iteration-count(infinite);
					@include animation-delay(0);
				}
				.shadow{
					z-index: 1;
					bottom: 0em;
					@include animation-name(blurring-shadow);
					@include animation-duration(3s);
					@include animation-timing-function(ease-in-out);
					@include animation-iteration-count(infinite);
					@include animation-delay(0);
				}
			}
		}

		.hero#below-the-fold{
			min-height: 5em;
			// min-height: 20em;
			position: relative;
			$corner-width: 512px;
			$corner-angle: 35deg;

			.button-group li a.button{
				font-size: 12px;
				font-weight: bold !important;
			}

		}

	}

	@media #{$medium-up} {
		article{ display: table; height: 100%;}
		header.hero {
			text-align: center;
			height: 50%;
			display: table;

			.cell{
				height: 100%;
				display: table-cell;
				vertical-align: bottom;
			}

		}


	}

}