.mdl-layout__container {
	.mdl-layout__content {
		background-image: url('~app/images/bg.png');
		background-repeat: no-repeat;
		background-color: settings-colour(black);

		overflow-x: initial;
		overflow-y: initial;
	}
	.mdl-layout__drawer-button {
		color: settings-colour(white);
	}
}

.mdl-page {
	font-family: $preferred_font;
	max-width: em(900);
	margin-top: em(64);
}

.mdl-layout__title { display: flex; }
.mdl-layout__header-row { border-bottom: 0; }
.mdl-layout__header-row .mdl-navigation { display: flex; }

.mdl-layout__title,
.mdl-layout__title a
{
	color: white;
	text-decoration: none;
}

.site-credits {
	display: flex;
	justify-content: center;
	font-size: em(10);
	a {
		color: settings-colour(gun-metal);
		text-decoration: none;
	}
}