.mdl-page {
	max-width: 900px;
	font-family: $preferred_font;
}

.mdl-layout__title,
.mdl-layout__title a
{
	color: white;
	text-decoration: none;
}

.mdl-layout__container .mdl-layout .mdl-layout__content {
	overflow-x: initial;
	overflow-y: initial;
}