$settings__default__colour: (
	gray: (
		default: #526368
	),
	gun-metal: (
		default: #83979d
	)
);

@function settings-colour($colour, $variant: default) {
	@if map-has-key($settings__default__colour, $colour) {
		$group: map-get($settings__default__colour, $colour);
		@if map-has-key($group, $variant) {
			@return map-get($group, $variant);
		}
	}

	@return $colour;
}