body.article,
body.article-list,
body.article-detail {

    #article-tags .sub-nav  {
        text-align: center;
        li {
            float: none;
            display: inline-block;
        }
    }
}

