extends layout

block header

block content
	.hero
		.cell
			a(href="#{url}"): img.avatar(src="http://placehold.it/256x256")

			ul.button-group.simple-outline
				li: a.button(href="/about/") about
				li: a.button(href="/projects/") projects
				li: a.button(data-modal='.contact-form') contact

