$all-borders: (top, right, bottom, left);

@mixin button-style-simple($border: $primary-border-color,
						   $text: $primary-border-color,
						   $border-hover: lighten($primary-border-color, 20%),
						   $text-hover: lighten($primary-border-color, 20%),
						   $borders: (top,right,bottom,left)) {
	background: none;

	@each $edge in $all-borders{
		@if $edge in $borders{
			border-#{$edge}: $button-border-width solid $border;
		}
		@else{
			border-#{$edge}: none;
		}
	}

	color: $text;
	text-transform: uppercase;
	&:hover {
		background: transparent;
		color: $text-hover;
	}
}

@mixin vertical-button-group() {
	li {
		clear: both;
		width: 100%;
		a.button {
			width: 100%;
		}
		&:not(:last-child) {
			a.button {
				border-bottom: none;
				border-right: $button-border-width solid $primary-border-color;
			}
		}
	}
}

@mixin horizontal-button-group() {
	li {
		clear: none;
		width: auto;
		a.button {
		}
		&:not(:last-child) {
			a.button {
				border-right: inherit;
			}
		}
		&:last-child {
			a.button {
				border-right: $button-border-width solid $primary-border-color;
			}
		}
	}
}

html body{

	ul.button-group {
		clear:both;
		display: inline-block;

		&.simple-outline {

			li a.button {
				margin: 0;
				@include button-style-simple();
			}

			@include horizontal-button-group();

			@media #{$small-only and $portrait} {
				@include vertical-button-group();
			}
			@media #{$small-up} {
				&.vertical{
					@include vertical-button-group();
				}
			}

			@media #{$small-only and $landscape} {
				@include horizontal-button-group();
			}

		}
		
		&.no-outline {
			li a.button {
				@include button-style-simple();
				border: none;
			}
			@media #{$small-only and $portrait} {
				li {
					clear: both;
					width: 100%;
					a.button {
						width: 100%;
						border: none;
					}
				} 
			}
			@media #{$small-only and $landscape} {
				text-align: center;
				li {
					float: none;
					display: inline;
					clear: none;
					width: auto;
					a.button {
						width: auto;
					}
				}
			}

		}

	}

	.button, button {

		&.simple-outline {
			@include button-style-simple();
		}

		&.button-block {
			width: 100%;
			display: block;
		}
	}
}
