
html body {

	img.th,
	img.banner {
		@include box-shadow(0 0 1px 0 $secondary-tint);
		&:hover{
			@include box-shadow(0 0 2px 0 $firm);
		}
		
		&.circular,
		&.rounded,
		&.round {
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
		}
		
		&.medium {
			width: 75%;
			height: 75%;
		}

		&.small {
			width: 50%;
			height: 50%;
		}

		&.tiny {
			width: 25%;
			height: 25%;
		}
		

		&.left,
		&.right {
			margin: 2em;
		}
		&.centered {
			display: block;
			margin: 0 auto;
		}
	}
	img.banner {
		clear: both;
		display: block;
	}
	img.lightbox-image {
		@include prefixer(cursor, zoom-in, webkit moz spec);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;


		&.lightbox-image-animate {
			z-index: 1010;
			@include transition-property (transform);
			@include transition-duration(250ms);
			@include transition-timing-function(ease-in-out);
			@include box-shadow(none);
		}

		&.lightbox-image-opened {
			position: relative;
			border: none;
			@include prefixer(cursor, zoom-out, webkit moz spec);
			@include border-top-radius(0.1em);
			@include border-bottom-radius(0.1em);
		}
	}

	div.lightbox-background {
		@include prefixer(cursor, zoom-out, webkit moz spec);
		@include transition (opacity 250ms ease-in-out);
		background: #000;
		z-index: 500;
		opacity: 0.0;
		visibility: hidden;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		&:before {
			background: rgba(black, 0.5);
			height: 2em;
			width: 100%;
			color: white;
			position: absolute;
			bottom: 0em;
			left: 0em;
			line-height: 2;
			z-index: 2000;
			// @include transform(translateX(-50%));
			@extend [class^="icon-"]:before;
			@extend .icon-cancel-circled-outline:before;
			font-size: 2em;
		}

		&.lightbox-background-show {
			z-index: 400;
			opacity: 0.95;
			visibility: visible;
		}

		&.lightbox-background-close {
			visibility: visible;
			cursor: auto;
		}
		
		a {
			&.lightbox-previous,
			&.lightbox-next {
				display: block;
			}
		}
	}

	a {

		&.lightbox-previous,
		&.lightbox-next {
			position: fixed;
			display: none;
			width: 5em;
			height: 100%;
			margin-top: -8px;
			top: 0;
			z-index: 2000;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			color: white;
			vertical-align: middle;
			text-align:center;
			
			[class^="icon-"] {
				position: absolute;
				bottom: 0;
				left: 50%;
				@include transform(translateX(-50%));
				font-size: 2em;
			}
		}
		&.lightbox-next {
			right: 0;
		}
		&.lightbox-previous {
			left: 0;
		}
		
	}

}