@mixin headings {
	h1,h2,h3,h4,h5	{@content}
	h1,h2,h3,h4,h5	{
		small{@content}
	}
}
html body {
	@include headings() {
		color: $firm;
		small{
			&.block{
				display: block;
				line-height: 1;
				color: $secondary-tint;
			}
		}
	}

	h1, h2 {
		color: $firm;
	}
	h3 {
		color: tint($firm, 20%);
	}
	h4 {
		color: $tarawera;
	}
}
