<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		{% for stylesheet in site.stylesheets -%}
			{% include templates.stylesheet with stylesheet %}
		{%- endfor %}
	</head>
	<body class="{% block bodyClasses %}{{ bodyClasses}}{% endblock %}" {% block bodyAttrs %}{{ bodyAttrs }}{% endblock %}>
		<div class="main">
		{% block content %}{% endblock %}
		</div>
		{% for script in site.scripts -%}
			{% include templates.script with script %}
		{%- endfor %}
		<script type="text/javascript">
		var Gastropod = {
			page: {{ page | json | safe }},
			meta: {{ meta | json | safe }},
			manifest: {{ manifest | json | safe }},
			templates: {{ manifest | json | safe }}
		};
		</script>
	</body>
</html>