// .post-card {}
// .post-card__container {}

.post-card__header {
    @include typeface-get(robotoslab);
    display: flex;
    flex-direction: row;
}
.post-card__heading {
    margin-top: 0;
    margin-left: 0.45rem;
}

.post-card__meta {
    @include typeface-get(opensans);
    font-size: rem-calc(16px);
    color: colour-get(grey)

}
.post-card__link {
    color: colour-get(queenblue);
    text-decoration: none;
}
    .post-card__link:visited {
        color: colour-get(queenblue, dark);
    }
    .post-card__link:hover {
        text-decoration: underline;
        color: colour-get(queenblue, light);
    }
    .post-card__link-icon {
        color: colour-get(grey);
    }
