h3 Comments

#disqus_thread(data-module="disqus-comments-widget",
			   data-shortname=disqus.shortname||'',
			   data-disqus-indentifier=page.getSlug(),
			   data-action="load",
			   data-emit="disqus-threads-loaded")
noscript
	| Please enable JavaScript to view the
	a(href="//disqus.com/?ref_noscript") comments powered by Disqus
