.row
	.large-12.columns.small-centered
		ul.sub-nav.centered
			if prevPage
				li: a(href=prevPage.url)
					span.icon-left-open

			li: a(href="../")
				span.icon-flow-merge

			if nextPage
				li: a(href=nextPage.url)
					span.icon-right-open